# Python for Data Science
## Session 6
### Datasets â€“ Pandas I

---

## Outline

1. Pandas

2. Loading and exploring datasets 

3. Data cleaning and preprocessing with Pandas

---

## Pandas I

Let's load *Netflix* titles and do some exercices

In [1]:
import pandas as pd
# Download from Moodle the zip file containing the netflix dataset
path = 'session_6/netflix_titles.csv'

netflix_df = pd.read_csv(path)

In [2]:
netflix_df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

## Pandas I
Let's do the following exercices:

1. Count Missing Values in Each Column

In [3]:
missing_values = netflix_df.isna().sum()
print(missing_values)

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

2. Fill Missing 'country' Values with "Unknown"

In [4]:
netflix_df['country'] = netflix_df['country'].fillna("Unknown")

print(netflix_df['country'].isna().sum())

0

3. Filter for TV Shows Only

In [5]:
tv_shows_only = netflix_df[netflix_df['type'] == 'TV Show']

print(tv_shows_only.head())

  show_id     type                  title         director  \
1      s2  TV Show          Blood & Water              NaN
2      s3  TV Show              Ganglands  Julien Leclercq
3      s4  TV Show  Jailbirds New Orleans              NaN
4      s5  TV Show           Kota Factory              NaN
5      s6  TV Show          Midnight Mass    Mike Flanagan

                                                cast       country  \
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...  South Africa
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...       Unknown
3                                                NaN       Unknown
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...         India
5  Kate Siegel, Zach Gilford, Hamish Linklater, H...       Unknown

           date_added  release_year rating   duration  \
1  September 24, 2021          2021  TV-MA  2 Seasons
2  September 24, 2021          2021  TV-MA   1 Season
3  September 24, 2021          2021  TV-MA   1 Season
4  September 24, 2021          2021  TV-MA  2 Seasons
5  September 24, 2021          2021  TV-MA   1 Season

                                           listed_in  \
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...
5                 TV Dramas, TV Horror, TV Mysteries

                                         description
1  After crossing paths at a party, a Cape Town t...
2  To protect his family from a powerful drug lor...
3  Feuds, flirtations and toilet talk go down amo...
4  In a city of coaching centers known to train I...
5  The arrival of a charismatic young priest brin...

4. Count the Number of Entries per Rating

In [6]:
rating_counts = netflix_df['rating'].value_counts()

print(rating_counts)

rating
TV-MA       3207
TV-14       2160
TV-PG        863
R            799
PG-13        490
TV-Y7        334
TV-Y         307
PG           287
TV-G         220
NR            80
G             41
TV-Y7-FV       6
NC-17          3
UR             3
74 min         1
84 min         1
66 min         1
Name: count, dtype: int64

5. Add a Column Showing Content Age (how many years since it came out)

In [7]:
from datetime import datetime

netflix_df['content_age'] = datetime.now().year - netflix_df['release_year']

print(netflix_df[['title', 'release_year', 'content_age']].head())

                   title  release_year  content_age
0   Dick Johnson Is Dead          2020            4
1          Blood & Water          2021            3
2              Ganglands          2021            3
3  Jailbirds New Orleans          2021            3
4           Kota Factory          2021            3

## Pandas I

Let's now load the *Titanic* dataset and practice a little bit more:

In [8]:
titanic_df = pd.read_csv('train_and_test2.csv')

print(titanic_df.columns)
print(titanic_df.head())

Index(['Passengerid', 'Age', 'Fare', 'Sex', 'sibsp', 'zero', 'zero.1',
       'zero.2', 'zero.3', 'zero.4', 'zero.5', 'zero.6', 'Parch', 'zero.7',
       'zero.8', 'zero.9', 'zero.10', 'zero.11', 'zero.12', 'zero.13',
       'zero.14', 'Pclass', 'zero.15', 'zero.16', 'Embarked', 'zero.17',
       'zero.18', '2urvived'],
      dtype='object')
   Passengerid   Age     Fare  Sex  sibsp  zero  zero.1  zero.2  zero.3  \
0            1  22.0   7.2500    0      1     0       0       0       0
1            2  38.0  71.2833    1      1     0       0       0       0
2            3  26.0   7.9250    1      0     0       0       0       0
3            4  35.0  53.1000    1      1     0       0       0       0
4            5  35.0   8.0500    0      0     0       0       0       0

   zero.4  ...  zero.12  zero.13  zero.14  Pclass  zero.15  zero.16  Embarked  \
0       0  ...        0        0        0       3        0        0       2.0
1       0  ...        0        0        0       1        0        0       0.0
2       0  ...        0        0        0       3        0        0       2.0
3       0  ...        0        0        0       1        0        0       2.0
4       0  ...        0        0        0       3        0        0       2.0

   zero.17  zero.18  2urvived
0        0        0         0
1        0        0         1
2        0        0         1
3        0        0         1
4        0        0         0

[5 rows x 28 columns]

1. Count the Missing Values in Each Column

In [9]:
missing_values_titanic = titanic_df.isna().sum()
print(missing_values_titanic)

Passengerid    0
Age            0
Fare           0
Sex            0
sibsp          0
zero           0
zero.1         0
zero.2         0
zero.3         0
zero.4         0
zero.5         0
zero.6         0
Parch          0
zero.7         0
zero.8         0
zero.9         0
zero.10        0
zero.11        0
zero.12        0
zero.13        0
zero.14        0
Pclass         0
zero.15        0
zero.16        0
Embarked       2
zero.17        0
zero.18        0
2urvived       0
dtype: int64

2. Fill Missing 'Age' Values with the Mean Age

In [10]:
titanic_df['Age'] = titanic_df['Age'].fillna(titanic_df['Age'].mean())

3. Fill Missing 'Embarked' Values with the Mode (Most Common Value)

In [11]:
titanic_df['Embarked'] = titanic_df['Embarked'].fillna(titanic_df['Embarked'].mode()[0])

4. Filter and Display Passengers Who Paid a Fare Above the Average Fare

In [12]:
high_fare_passengers = titanic_df[titanic_df['Fare'] > titanic_df['Fare'].mean()]
print(high_fare_passengers)

      Passengerid   Age      Fare  Sex  sibsp  zero  zero.1  zero.2  zero.3  \
1               2  38.0   71.2833    1      1     0       0       0       0
3               4  35.0   53.1000    1      1     0       0       0       0
6               7  54.0   51.8625    0      0     0       0       0       0
23             24  28.0   35.5000    0      0     0       0       0       0
27             28  19.0  263.0000    0      3     0       0       0       0
...           ...   ...       ...  ...    ...   ...     ...     ...     ...
1293         1294  22.0   59.4000    1      0     0       0       0       0
1294         1295  17.0   47.1000    0      0     0       0       0       0
1298         1299  50.0  211.5000    0      1     0       0       0       0
1302         1303  37.0   90.0000    1      1     0       0       0       0
1305         1306  39.0  108.9000    1      0     0       0       0       0

      zero.4  ...  zero.12  zero.13  zero.14  Pclass  zero.15  zero.16  \
1          0  ...        0        0        0       1        0        0
3          0  ...        0        0        0       1        0        0
6          0  ...        0        0        0       1        0        0
23         0  ...        0        0        0       1        0        0
27         0  ...        0        0        0       1        0        0
...      ...  ...      ...      ...      ...     ...      ...      ...
1293       0  ...        0        0        0       1        0        0
1294       0  ...        0        0        0       1        0        0
1298       0  ...        0        0        0       1        0        0
1302       0  ...        0        0        0       1        0        0
1305       0  ...        0        0        0       1        0        0

      Embarked  zero.17  zero.18  2urvived
1          0.0        0        0         1
3          2.0        0        0         1
6          2.0        0        0         0
23         2.0        0        0         1
27         2.0        0        0         0
...        ...      ...      ...       ...
1293       0.0        0        0         0
1294       2.0        0        0         0
1298       0.0        0        0         0
1302       1.0        0        0         0
1305       0.0        0        0         0

[304 rows x 28 columns]

5. Add a New Column Indicating Family Size. Create a new column 'FamilySize' as the sum of 'SibSp' (siblings/spouses) and 'Parch' (parents/children)

In [13]:
titanic_df['FamilySize'] = titanic_df['sibsp'] + titanic_df['Parch']
print(titanic_df[['sibsp', 'Parch', 'FamilySize']].head())

   sibsp  Parch  FamilySize
0      1      0           1
1      1      0           1
2      0      0           0
3      1      0           1
4      0      0           0

## Pandas I

Home exercises for Netflix:

1. Is there any missing rating?
2. How many films in 2021 correspond to your country?
3. What's the number of movies in 2020 with full information?
4. Give me the year with more titles,
5. and what has been the average in terms of releases from 2010. 

And for Titanic:

1. Calculate Gender-Based Survival Percentage

2. Calculate Survival Percentage Grouped by Gender and Class

netflix.1

In [28]:
missing_ratings = netflix_df['rating'].isna().sum()
print(f"Missing values in 'rating': {missing_ratings}")

Missing values in 'rating': 4

netflix.2

In [29]:
my_country = "Italy"

films_2021 = netflix_df[(netflix_df['release_year'] == 2021) & (netflix_df['country'] == my_country)]
print(f"Number of films released in 2021 in {my_country}: {len(films_2021)}")

Number of films released in 2021 in Italy: 6

netflix.3

In [30]:
films_2020_complete = netflix_df[(netflix_df['release_year'] == 2020) & netflix_df.notna().all(axis=1)]
print(f"Number of films released in 2020 with complete information: {len(films_2020_complete)}")

Number of films released in 2020 with complete information: 499

netflix.4

In [31]:
most_titles_year = netflix_df['release_year'].value_counts().idxmax()
print(f"The year with the most titles is: {most_titles_year}")

The year with the most titles is: 2018

netflix.5

In [34]:
average_releases = netflix_df[netflix_df['release_year'] >= 2010]['release_year'].value_counts().mean()
print(f"The average annual releases from 2010 onwards are: {average_releases:.2f}")

The average annual releases from 2010 onwards are: 622.67

titanic.1

In [25]:
survival_by_gender = titanic_df.groupby('Sex')['2urvived'].mean() * 100
print("Survival percentage by gender:")
print(survival_by_gender)

Survival percentage by gender:
Sex
0    12.930012
1    50.000000
Name: 2urvived, dtype: float64

titanic.2

In [27]:
survival_by_gender_class = titanic_df.groupby(['Sex', 'Pclass'])['2urvived'].mean() * 100
print("\nSurvival percentage by gender and class:")
print(survival_by_gender_class)

Survival percentage by gender and class:
Sex  Pclass
0    1         25.139665
     2          9.941520
     3          9.533469
1    1         63.194444
     2         66.037736
     3         33.333333
Name: 2urvived, dtype: float64