# Python for Data Science
## Session 7
### Datasets â€“ Pandas II

---

## Outline

1. Lambda and map

2. Series

2. Advanced data manipulation 

3. Handling missing data and data transformation

---

## Pandas II
### Handling Missing Data and Data Transformation

Let's practica a little bit here, take home what you did not solve today.

Exercises:

1. Create a new column called **professor_initials** that stores the initials of each professor's first and last names. Use the following data:

In [1]:
import pandas as pd

data = {
    'professor': ['Ludmila Kuncheva', 'Antonio Torralba', 'Manuel Gonzalez', 'Bastian Leibe'],
    'department': ['Computer Science', 'Computer Vision', 'AI & Robotics', 'Autonomous Systems'],
    'age': [45, 50, 47, 38]
}

df = pd.DataFrame(data)

df['professor_initials'] = df['professor'].apply(lambda x: ''.join([name[0].upper() for name in x.split()]))
print(df)

          professor          department  age professor_initials
0  Ludmila Kuncheva    Computer Science   45                 LK
1  Antonio Torralba     Computer Vision   50                 AT
2   Manuel Gonzalez       AI & Robotics   47                 MG
3     Bastian Leibe  Autonomous Systems   38                 BL

2. Given the dataframe below. Use **join** to combine this new DataFrame with the original one based on the professor column.

In [2]:
courses_data = {
    'professor': ['Ludmila Kuncheva', 'Antonio Torralba', 'Manuel Gonzalez', 'Bastian Leibe'],
    'courses': ['Machine Learning', 'Computer Vision', 'AI Programming', 'Self-Driving Cars']
}
df_courses = pd.DataFrame(courses_data)

df_combined = df.set_index('professor').join(df_courses.set_index('professor'))
print(df_combined)

                          department  age professor_initials  \
professor
Ludmila Kuncheva    Computer Science   45                 LK
Antonio Torralba     Computer Vision   50                 AT
Manuel Gonzalez        AI & Robotics   47                 MG
Bastian Leibe     Autonomous Systems   38                 BL

                            courses
professor
Ludmila Kuncheva   Machine Learning
Antonio Torralba    Computer Vision
Manuel Gonzalez      AI Programming
Bastian Leibe     Self-Driving Cars

3. Combine the original df and df_courses DataFrames.

In [3]:
data = {
    'professor': ['Ludmila Kuncheva', 'Antonio Torralba', 'Manuel Gonzalez', 'Bastian Leibe'],
    'department': ['Computer Science', 'Computer Vision', 'AI & Robotics', 'Autonomous Systems'],
    'age': [45, 50, 47, 38]
}

df = pd.DataFrame(data)

courses_data = {
    'professor': ['Ludmila Kuncheva', 'Antonio Torralba', 'Manuel Gonzalez', 'Bastian Leibe'],
    'courses': ['Machine Learning', 'Computer Vision', 'AI Programming', 'Self-Driving Cars']
}
df_courses = pd.DataFrame(courses_data)

df_merged = pd.merge(df, df_courses, on='professor')
print(df_merged)

          professor          department  age            courses
0  Ludmila Kuncheva    Computer Science   45   Machine Learning
1  Antonio Torralba     Computer Vision   50    Computer Vision
2   Manuel Gonzalez       AI & Robotics   47     AI Programming
3     Bastian Leibe  Autonomous Systems   38  Self-Driving Cars

4. In the professor column, create a new column professor_last_name by extracting the last name of each professor using string operations.

In [4]:
df['professor_last_name'] = df['professor'].apply(lambda x: x.split()[-1])
print(df)

          professor          department  age professor_last_name
0  Ludmila Kuncheva    Computer Science   45            Kuncheva
1  Antonio Torralba     Computer Vision   50            Torralba
2   Manuel Gonzalez       AI & Robotics   47            Gonzalez
3     Bastian Leibe  Autonomous Systems   38               Leibe

## Pandas II

### Summary

Today we saw deeper ways of manipulating **dataframes** and **series**, from applying functions on columns, merging / joining multiple datasets, replacing missing values, to finally work with strings using regex in the back.

We hope you enjoyed this session, see you next in session 8!